<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Madlibs Chat</title>
    <link rel='stylesheet' type='text/css' href='index/index.css' />
    <script>
      var connectionString = <%- serverUrl %>;
    </script>
    
  </head>
  <body>
    <div class="col-sm-3 col-sm-offset-4 frame">
      <ul></ul>
      <div>
        <div class="macro" style="margin:auto">                        
          <div class="text text-r" style="background:#888888 !important">
            <input class="mytext" placeholder="Type a message"/>
          </div> 
        </div>
      </div>
  </div>        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/index/index.js"></script>
  </body>
</html>